* {
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    
}

body{
    display: block;
    margin-left:  50px;
    margin-right:  50px;
    -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    
}



footer{
    background-color: lightgray;
    display: flex;
    justify-content: space-evenly;
}

a{
    text-decoration: none;
    color: black;
    padding: 10px 10px;
}

a:hover{
    color: #0A66C2;
    border-top: 4px solid #0A66C2;
}



/* CSS */
.btn {
  align-items: center;
  background-color: #ffff;
  border: 2px solid gray;
  border-radius: 100px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}
.fa-money-bill-wave{
    background-color: #D2E8FC;
    border: none;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
    position: relative;
}

.fa-child-reaching{
    background-color: #D2E8FC;
    border: none;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
   
}

.fa-heart{
    background-color: #D2E8FC;
    border: none;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
   
}

.fa-dog{
    background-color: #D2E8FC;
    border: none;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
   
}

.searchbar input[type=text] {
    padding: 10px;
    border: 1px solid lightgray;
    margin-top: 8px;
    font-size: 17px;
    position: relative;
    border-radius: 10px;
}

.btn-search{
    background-color: #0A66C2;
    border: none;
    border-radius: 5px;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
}

.location-btn{
    background-color: gainsboro;
    border: none;
    border-radius: 5px;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.card {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 20px;
    flex-basis: 500px;
    padding: 10px;
    }

.popular-container{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 10px;
}


.popular_card {
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 20px;
    flex-basis: 300px;
    max-width: 600px;
    max-height: 300px;
    padding: 10px;
}

.popular-text{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.all_accomodations{
    display: flex;
    gap: 50px;
}

.activity_card {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.popular_card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
img {
    border-radius: 5px 5px 0 0;
    max-height: 500px;
    max-width: 500px;

}

.checked{
    color: #0A66C2;
}

.accomodations{
    background-color: gainsboro;
    border-radius: 20px;
    padding: 50px;
}



  [class^="cardrow-"]{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
}

.activity_content{
    padding: 50px;
    height: fit-content;
    display:flex;
    align-items: self-start;
    gap: 10px;
   flex-direction: row;

}

.most_popular{
    background-color: gainsboro;
    border-radius: 20px;
    padding: 50px;
}